/* Reference: https://github.com/squidfunk/mkdocs-material/tree/master/src/assets/stylesheets */

#pullquote {
    font-size: x-large;
    font-style: italic;
    color: gray;
    margin-left: 40px;
}
